<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Knightmate</title>
		<meta name="description" content="An implementation of the chess variant Knightmate">

		<!-- Import public links -->
		<link rel="stylesheet" href="/style.css">
		<!--script src="/script.js" defer></script-->

		<!-- favicon stuff, idk https://favicon.io/favicon-converter/ told me to do it -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
	</head>

	<body>
		<header>
			<a href="/" style="text-decoration: none;"><h1>Knightmate</h1></a>
			<h2>A chess variant where you must checkmate the Knight instead of the King</h2>
		</header>
		<main>
			<button onclick="window.location.href='/knightmate-offline'">PLAY OFFLINE</button>
			<br/>
			<button onclick="window.location.href='/knightmate-random'">PLAY AGAINST RANDOM MOVES</button>
			<p>Currently this website looks very unappealing, and I plan on giving this website a huge facelift. Additionaly, I plan on adding online gameplay between two players.</p>

			<h2>Credits</h2>
			<p><a href="https://github.com/jhlywa/chess.js">chess.js</a> for the internal chess logic. Check out <a href="https://github.com/thearst3rd/knightmate-glitch">this project's GitHub page</a> for the modified sources that allow Knightmate logic.</p>
			<p><a href="https://chessboardjs.com/">chessboard.js</a> for the chessboard rendering and piece dragging. <!--Check out <a href="https://github.com/thearst3rd/knightmate-glitch">this project's GitHub page</a> for the modified version which (INSERT HERE)--></p>
			<p>Chess pieces are by Colin M.L. Burnett, taken <a href="https://commons.wikimedia.org/wiki/Category:SVG_chess_pieces">here</a> from Wikimedia.</p>
		</main>
		<footer>Made with <a href="https://glitch.com">Glitch</a>!</footer>
		<div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
		<script src="https://button.glitch.me/button.js" defer></script>
	</body>
</html>
